 <!-- Overlay header (Squarespace-ish) -->
  <header class="site-header">
  <div class="container header-inner">

    <a class="brand" href="{{ '/' | relative_url }}" aria-label="Home">
      <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Murph’s Mitt Maintenance logo">
      <span class="brand-text">MURPH'S MITTS</span>
    </a>

    <nav class="site-nav" aria-label="Primary navigation">
     <a href="{{ '/' | relative_url }}" class="{% if page.nav == 'home' %}active{% endif %}">Home</a>
     <a href="{{ '/gallery/' | relative_url }}" class="{% if page.nav == 'gallery' %}active{% endif %}">Gallery</a>
     <a href="{{ '/services/' | relative_url }}" class="{% if page.nav == 'services' %}active{% endif %}">Services</a>
     <a href="{{ '/process/' | relative_url }}" class="{% if page.nav == 'process' %}active{% endif %}">Process</a>
     <a href="{{ '/baseball-glove-relacing/#faq' | relative_url }}" >FAQ</a>
     <a href="{{ '/about/' | relative_url }}" class="{% if page.nav == 'about' %}active{% endif %}">About</a>
   </nav>

   <div class="actions">
     <a class="btn btn-primary btn-contact {% if page.nav == 'contact' %}active{% endif %}" href="{{ '/contact/' | relative_url }}">Contact</a>
   </div>

    <!-- Mobile hamburger -->
    <button class="menu-btn" type="button" aria-label="Open menu" data-menu-open>
      <span></span><span></span><span></span>
    </button>

  </div>
</header>

<!-- Mobile menu overlay -->
<div class="mobile-menu" data-mobile-menu aria-hidden="true">
  <div class="mobile-menu-inner">
    <div class="mobile-menu-top">
      <a class="brand" href="{{ '/' | relative_url }}" aria-label="Home">
        <img src="{{ '/assets/img/logo.png' | relative_url }}" alt="Murph’s Mitt Maintenance logo">
        <span class="brand-text">MURPH's MITTS</span>
      </a>
      <button class="mobile-close" type="button" aria-label="Close menu" data-menu-close>×</button>
    </div>

    <nav class="mobile-links" aria-label="Mobile navigation">
     <a href="{{ '/' | relative_url }}" class="{% if page.nav == 'home' %}active{% endif %}">Home</a>
     <a href="{{ '/gallery/' | relative_url }}" class="{% if page.nav == 'gallery' %}active{% endif %}">Gallery</a>
     <a href="{{ '/services/' | relative_url }}" class="{% if page.nav == 'services' %}active{% endif %}">Services</a>
     <a href="{{ '/process/' | relative_url }}" class="{% if page.nav == 'process' %}active{% endif %}">Process</a>
     <a href="{{ '/baseball-glove-relacing/#faq' | relative_url }}" >FAQ</a>
     <a href="{{ '/about/' | relative_url }}" class="{% if page.nav == 'about' %}active{% endif %}">About</a>
   </nav>

   <div class="mobile-menu-actions">
     <a class="btn btn-primary {% if page.nav == 'contact' %}active{% endif %}" href="{{ '/contact/' | relative_url }}">Contact</a>
   </div>
  </div>
</div>
